# Project exclude paths
/target/
/T-GuiApi.iml
/.idea/
/example-plugin.iml
/dependency-reduced-pom.xml
/core.iml
/processes.iml
/example-plugin/dependency-reduced-pom.xml
/core/core.iml
/example-plugin/example-plugin.iml
/example-plugin/target/
/processes/processes.iml
/processes/target/
/core/target/
